<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/page-frame :: head('Company View')}"></head>
<body class="template-color-1">

<div id="main-wrapper">

    <!--Header section start-->
    <header th:replace="~{fragments/page-frame :: header-all-others}"></header>
    <!--Header section end-->

    <!--Header Mobile section start-->
    <!--Header Mobile section end-->

    <!-- Start Popup Menu -->
    <!-- End Popup Menu -->

    <!-- Bottom Navbar Mobile Start -->
    <!-- Bottom Navbar Mobile End -->

    <!-- Bottom Navbar Mobile Popup Start -->
    <!-- Bottom Navbar Mobile Popup End -->

    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb-section section pt-60 pt-sm-50 pt-xs-40">
        <div class="container sb-border-two pb-60 pb-sm-50 pb-xs-40">
            <div class="row">
                <div class="col-12">
                    <div class="page-breadcrumb-content mb-40">
                        <ul class="page-breadcrumb">
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/professional-portal/companies}" th:text="'Comapnies'"></a></li>
                            <li><a th:href="@{/professional-portal/companies/{id}(id=${company.getId()})}" th:text="${company.getName()}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="employer-head-info">
                        <div class="employer-logo">
                            <a href="#"><img th:src="@{'/images/companies_logo/logo' + ${company.getId()} + '.jpg'}" alt="logo"></a>
                        </div>
                        <div class="employer-content">
                            <h1 class="employer-name" th:text="${company.getUsername()}"><i class="fas fa-check-circle"></i></h1>
                            <ul class="employer-meta">
                                <li class="view-employer">
                                    <i class="lnr lnr-user"></i><span th:text="${company.getUsername()}"></span>
                                </li>
                                <li class="date-publish">
                                    <i class="lnr lnr-clock"></i>
                                    Registered on: <label class="theme-color" th:text="${#dates.format(company.getCreatedAt(), 'dd/MM/yyyy')}">Sep 3, 2022</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="sidebar-wrapper-three">
                        <div class="common-sidebar-widget sidebar-three mb-0 pb-0">
                            <div class="sidebar-job-share">
                                <div class="job-share candidate-action">
<!--                                    <ul>-->
<!--                                        <li><a href="#"><i class="lnr lnr-heart"></i> <span-->
<!--                                                class="text">Save </span></a></li>-->
<!--                                        <li><a href="#"><i class="lnr lnr-bubble"></i> <span class="text">Share </span></a>-->
<!--                                            <ul class="social-share candidate-share">-->
<!--                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
<!--                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>-->
<!--                                                <li><a href="#"><i class="far fa-envelope"></i></a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                        <li><a href="#"><i class="lnr lnr-warning"></i> <span-->
<!--                                                class="text">Report </span></a></li>-->
<!--                                    </ul>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Start -->

    <!-- Employer Details Section Start -->
    <div class="employer-details-section section pt-120 pt-lg-100 pt-md-80 pt-sm-50 pt-xs-40 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 order-lg-2 order-2 mt-sm-60 mt-xs-50">
                    <div class="sidebar-wrapper-three">
                        <div class="common-sidebar-widget sidebar-three">
                            <h2 class="sidebar-title">Company Information</h2>
                            <div class="sidebar-meta">
                                <div class="row g-0">

                                    <div class="col-lg-12">
                                        <!-- Single Meta Field Start -->
                                        <div class="single-meta-field">
                                            <div class="field-label">
                                                <i class="lnr lnr-diamond"></i>
                                                <span>Website </span>
                                            </div>
                                            <div class="field-value no-transform"
                                                 th:text="'www.' + ${company.getUsername().toLowerCase()} + '.com'"></div>
                                        </div>
                                        <!-- Single Meta Field Start -->
                                    </div>

                                    <div class="col-lg-12">
                                        <!-- Single Meta Field Start -->
                                        <div class="single-meta-field">
                                            <div class="field-label">
                                                <i class="lnr lnr-inbox"></i>
                                                <span>Email </span>
                                            </div>
                                            <div class="field-value no-transform"
                                                 th:text="${company.getEmail()}"></div>
                                        </div>
                                        <!-- Single Meta Field Start -->
                                    </div>

                                    <div class="col-lg-12">
                                        <!-- Single Meta Field Start -->
                                        <div class="single-meta-field">
                                            <div class="field-label">
                                                <i class="lnr lnr-map-marker"></i>
                                                <span>Location </span>
                                            </div>
                                            <div class="field-value no-transform" th:text="${company.getLocation().getName()}"></div>
                                        </div>
                                        <!-- Single Meta Field Start -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="common-sidebar-widget sidebar-three">
                            <h2 class="sidebar-title">Social profiles: </h2>
                            <div class="social-all">
                                <a class="facebook" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                                <a class="twitter" href="https://www.instagram.com/"><i
                                        class="fab fa-instagram"></i></a>
                                <a class="linkedin" href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>

                        <!-- Google Maps Integration Start -->
<!--                        <div class="common-sidebar-widget sidebar-three">-->
<!--                            <h2 class="sidebar-title">Location</h2>-->
<!--                            <div class="sidebar-map">-->
<!--                                <iframe class="contact-map"-->
<!--                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2136.986005919501!2d-73.9685579655238!3d40.75862446708152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258e4a1c884e5%3A0x24fe1071086b36d5!2sThe%20Atrium!5e0!3m2!1sen!2sbd!4v1585132512970!5m2!1sen!2sbd"-->
<!--                                        allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- Google Maps Integration End -->

                    </div>
                </div>

                <div class="col-lg-8 order-lg-1 order-1 pr-55 pr-md-15 pr-sm-15 pr-xs-15">

                    <div class="employer-main-content">
                        <div class="field-description">
                            <a th:utext="${company.getDescription()}"></a>
                        </div>
                        <div class="field-skills">
                            <h3 th:text="'Latest position titles by this company:'"></h3>
                            <ul class="skill-tag">
                                <li th:each="jobAd : ${jobAdsOfCompany}">
                                    <a th:href="@{/professional-portal/job-ads/{id}(id=${jobAd.getId()})}" th:text="${jobAd.getPositionTitle()}"></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Gallery -->
<!--                        <div class="field-Gallery">-->
<!--                            <h3>Gallery</h3>-->
<!--                            <ul class="portfolio-list">-->
<!--                                <li><a href="#"><img src="assets/images/portfolio/portfolio1.jpg" alt=""></a></li>-->
<!--                                <li><a href="#"><img src="assets/images/portfolio/portfolio2.jpg" alt=""></a></li>-->
<!--                                <li><a href="#"><img src="assets/images/portfolio/portfolio3.jpg" alt=""></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
                        <!-- Gallery -->
                        <div class="job-area mt-60">
                            <div class="job-container">
                                <h3 class="title" th:text="${jobAdsOfCompany.size() + ' Opening Jobs'}"></h3>
                                <div class="row">
                                    <div class="col-lg-12" th:each="jobAd : ${jobAdsOfCompany}">
                                        <!-- Single Job Start  -->
                                        <div class="single-job style-two">
                                            <div class="info-top">
                                                <div class="job-info">
                                                    <div class="job-info-inner">
                                                        <div class="job-info-top">
                                                            <div class="saveJob for-listing">
<!--                                                                <span class="featured-label">featured</span>-->
<!--                                                                <a class="job-type-label ml-20 mr-20">Full Time</a>-->
<!--                                                                <a class="save-job" href="#quick-view-modal-container"-->
<!--                                                                   data-toggle="modal">-->
<!--                                                                    <i class="far fa-heart"></i>-->
<!--                                                                </a>-->
                                                            </div>
                                                            <div class="title-name">
                                                                <h5 class="job-title">
                                                                    <a th:href="@{/professional-portal/job-ads/{id}(id=${jobAd.getId()})}" th:text="${jobAd.getPositionTitle()}">Chief Accountant</a>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                        <div class="job-meta-two">
                                                            <div class="field-salary_from">
                                                                <i class="gj-icon gj-icon-money"></i>
                                                                <span th:text="'$' + ${jobAd.getMinSalaryBoundary()} + ' - $' + ${jobAd.getMaxSalaryBoundary()}"></span>
                                                            </div>
                                                            <div class="field-datetime"><i class="lnr lnr-clock"></i>
                                                                <span th:text="${#dates.format(company.getCreatedAt(), 'dd/MM/yyyy')}"></span>
                                                            </div>
                                                            <div class="field-map"><i class="lnr lnr-map-marker"></i>
                                                                <span th:text="${jobAd.getLocation().getName()}"></span>
                                                            </div>
                                                        </div>
                                                        <ul class="job-skill-tag">
                                                            <li th:each="requirement : ${jobAd.getRequirements()}">
                                                                <a href="#" th:text="${requirement.getType()}"></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Job End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Employer Details Section End -->

    <!--Footer section start-->
    <footer th:replace="~{fragments/page-frame :: footer}"></footer>
    <!--Footer section end-->

</div>

<!-- All jquery file included here -->
<div th:replace="~{fragments/page-frame :: script}"></div>

</body>

</html>