<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="~{fragments/page-frame :: head('Login | Register')}"></head>

<body class="template-color-1">

    <div id="main-wrapper">
        <!--Header section start-->
        <header th:replace="~{fragments/page-frame :: header-all-others}"></header>
        <!--Header section end-->

        <!--Header Mobile section start-->
        <!--Header Mobile section end-->

        <!-- Start Popup Menu -->
        <div class="popup-mobile-manu popup-mobile-visiable">
            <div class="inner">
                <div class="mobileheader">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo-mobile.png" alt="Multipurpose">
                        </a>
                    </div>
                    <a class="mobile-close" href="#"></a>
                </div>
                <div class="menu-content">
                    <ul class="menulist object-custom-menu">
                        <li class="has-mega-menu"><a href="#"><span>Home</span></a>
                            <!-- Start Dropdown Menu -->
                            <ul class="object-submenu">
                                <li><a href="index.html"><span>Home V1</span></a></li>
                                <li><a href="index-2.html"><span>Home V2</span></a></li>
                                <li><a href="index-3.html"><span>Home V3</span></a></li>
                                <li><a href="index-4.html"><span>Home V4</span></a></li>
                            </ul>
                            <!-- End Dropdown Menu -->
                        </li>

                        <li class="has-mega-menu"><a href="#"><span>Jobs</span></a>
                            <!-- Start Dropdown Menu -->
                            <ul class="object-submenu">
                                <li><a href="job-listing.html"><span>Jobs Listing</span></a></li>
                                <li><a href="job-with-map.html"><span>Jobs With Map</span></a></li>
                                <li><a href="job-details.html"><span>Job Detail V1</span></a></li>
                                <li><a href="job-details-two.html"><span>Job Detail V2</span></a></li>
                            </ul>
                            <!-- End Dropdown Menu -->
                        </li>

                        <li class="has-mega-menu"><a href="#"><span>Candidates</span></a>
                            <!-- Start Dropdown Menu -->
                            <ul class="object-submenu">
                                <li><a href="candidates-listing.html"><span>Candidates Listing</span></a></li>
                                <li><a href="candidate-details.html"><span>Candidate Details V1</span></a></li>
                                <li><a href="candidate-details-two.html"><span>Candidate Details V2</span></a></li>
                            </ul>
                            <!-- End Dropdown Menu -->
                        </li>

                        <li class="has-mega-menu"><a href="#"><span>Employers</span></a>
                            <!-- Start Dropdown Menu -->
                            <ul class="object-submenu">
                                <li><a href="employer-listing.html"><span>Employers Listing</span></a></li>
                                <li><a href="employer-details.html"><span>Employer Detail V1</span></a></li>
                                <li><a href="employer-details-two.html"><span>Employer Detail V2</span></a></li>
                            </ul>
                            <!-- End Dropdown Menu -->
                        </li>

                        <li class="has-mega-menu"><a href="#"><span>Blog</span></a>
                            <!-- Start Dropdown Menu -->
                            <ul class="object-submenu">
                                <li><a href="blog.html"><span>Blog</span></a></li>
                                <li><a href="blog-details.html"><span>Blog Details</span></a></li>
                            </ul>
                            <!-- End Dropdown Menu -->
                        </li>

                        <li class="has-mega-menu"><a href="#"><span>Pages</span></a>
                            <!-- Start Dropdown Menu -->
                            <ul class="object-submenu">
                                <li><a href="about.html"><span>About Us</span></a></li>
                                <li><a href="contact.html"><span>Contact Us</span></a></li>
                                <li><a href="faq.html"><span>FAQS</span></a></li>
                                <li><a href="pricing.html"><span>Pricing & Plan</span></a></li>
                                <li><a href="login-professional.html"><span>Login / Register</span></a></li>
                                <li><a href="dashboard.html"><span>Dashboard</span></a></li>
                                <li><a href="shop.html"><span>Shop</span></a></li>
                                <li><a href="product-details.html"><span>Product Details</span></a></li>
                                <li><a href="cart.html"><span>Cart</span></a></li>
                                <li><a href="checkout.html"><span>Checkout</span></a></li>
                                <li><a href="wishlist.html"><span>Wishlist</span></a></li>
                                <li><a href="404.html"><span>404 Error</span></a></li>
                            </ul>
                            <!-- End Dropdown Menu -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Popup Menu -->

        <!-- Bottom Navbar Mobile Start -->
        <!-- Bottom Navbar Mobile End -->

        <!-- Bottom Navbar Mobile Popup Start -->
        <!-- Bottom Navbar Mobile Popup End -->

        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-section section bg_color--5 pt-60 pt-sm-50 pt-xs-40 pb-60 pb-sm-50 pb-xs-40">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-breadcrumb-content">
                            <ul class="page-breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li>Professionals Login & Register</li>
                            </ul>
                            <h1>Login & Register</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Section Start -->

        <!-- Login Register Section Start -->
        <div class="login-register-section section bg_color--5 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row g-0">

                    <div class="col-lg-4">
                        <div class="login-register-form-area">
                            <div class="login-tab-menu">
                                <ul class="nav">
                                    <li>
                                        <a th:classappend="${activeTab == 'login'} ? 'active show'" data-bs-toggle="tab" href="#login">Login</a>
                                    </li>
                                    <li>
                                        <a th:classappend="${activeTab == 'register'} ? 'active show'" data-bs-toggle="tab" href="#register">Register</a>
                                    </li>
<!--                                    <li><a class="active show" data-bs-toggle="tab" href="#login">Login</a></li>-->
<!--                                    <li><a data-bs-toggle="tab" href="#register">Register</a></li>-->
                                </ul>
                            </div>
                            <div class="tab-content">
<!--                                <div id="login" class="tab-pane fade show active">-->
                                <div id="login" th:classappend="${activeTab == 'login'} ? 'show active' : ''" class="tab-pane fade">
                                    <div class="login-register-form">
                                        <form th:action="@{/auth/professional-portal/login}" th:object="${loginProfessional}" method="post">
                                            <p>Login to JobMatch with your registered account</p>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="single-input">
                                                        <label for="username">Username</label>
                                                        <input type="text" placeholder="Username" name="username" th:field="*{username}">
                                                        <label class="text-danger font-weight-bold" th:errors="*{username}">Username error
                                                            placeholder</label>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="single-input">
                                                        <label for="password">Password</label>
                                                        <input type="password" placeholder="Password" name="password" th:field="*{password}">
                                                        <label class="text-danger font-weight-bold" th:errors="*{password}">Password error
                                                            placeholder</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-25"><button class="ht-btn">Login</button></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div id="register" th:classappend="${activeTab == 'register'} ? 'show active' : ''" class="tab-pane fade">
<!--                                <div id="register" class="tab-pane fade">-->
                                    <div class="login-register-form">
                                        <form th:action="@{/auth/professional-portal/register}" th:object="${registerProfessional}" method="post">
                                            <p>Create Your account</p>
                                            <div class="row row-5">
                                                <div class="col-12">
                                                    <div class="single-input">
                                                        <label for="username">Username</label>
                                                        <input type="text" placeholder="Your Username" name="username" th:field="*{username}" id="username">
                                                        <label class="text-danger font-weight-bold" th:errors="*{username}">Username error
                                                            placeholder</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="single-input">
                                                        <label for="firstName">Fist Name</label>
                                                        <input type="text" placeholder="First Name" name="firstName" th:field="*{firstName}" id="firstName">
                                                        <label class="text-danger font-weight-bold" th:errors="*{firstName}">First name
                                                            error placeholder</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="single-input">
                                                        <label for="lastName">Last Name</label>
                                                        <input type="text" placeholder="Last Name" name="lastName" th:field="*{lastName}" id="lastName">
                                                        <label class="text-danger font-weight-bold" th:errors="*{lastName}">Last name error
                                                            placeholder</label>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="single-input">
                                                        <label for="email">Email Address</label>
                                                        <input type="email" placeholder="Your Email Address" name="email" th:field="*{email}" id="email">
                                                        <label class="text-danger font-weight-bold" th:errors="*{email}">Email error
                                                            placeholder</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="single-input">
                                                        <label for="password">Password</label>
                                                        <input type="password" placeholder="Password" name="password" th:field="*{password}" id="password">
                                                        <label class="text-danger font-weight-bold" th:errors="*{password}">Password error
                                                            placeholder</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="single-input">
                                                        <label for="confirmPassword">Confirm Password</label>
                                                        <input type="password" placeholder="Confirm Password" name="passwordConfirmation" th:field="*{passwordConfirmation}" id="confirmPassword">
                                                        <label class="text-danger font-weight-bold" th:errors="*{passwordConfirmation}">Password
                                                            error placeholder</label>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="register-account">
                                                        <input id="register-terms-conditions" type="checkbox" class="checkbox" checked="" required="">
                                                        <label for="register-terms-conditions">I read and agree to the <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></label>
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-25"><button class="ht-btn">Register</button></div>
                                            </div>
                                        </form>
                                        <div class="divider">
                                            <span class="line"></span>
                                            <span class="circle">or login with</span>
                                        </div>
                                        <div class="social-login">
                                            <ul class="social-icon">
                                                <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="login-instruction">
                            <div class="login-instruction-content">
                                <h3 class="title">Why Login To Us</h3>
                                <p>It’s important for you to have an account and login in order to have full access at JobMatch. We need to know your account details in order to allow work together</p>
                                <ul class="list-reasons">
                                    <li class="reason">Be alerted to the latest jobs</li>
                                    <li class="reason">Apply for jobs with a single click</li>
                                    <li class="reason">Showcase your application to thousands of companies</li>
                                    <li class="reason">Keep a record of all your applications</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Register Section End -->

        <!--Footer section start-->
        <footer th:replace="~{fragments/page-frame :: footer}"></footer>
        <!--Footer section end-->

        <!-- Modal Area Strat -->
        <div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-xl-12 col-lg-12">
                            <div class="row g-0">

                                <div class="col-lg-4">
                                    <div class="login-register-form-area">
                                        <div class="login-tab-menu">
                                            <ul class="nav">
                                                <li><a class="active show" data-bs-toggle="tab" href="#loginOne">Login</a></li>
                                                <li><a data-bs-toggle="tab" href="#registerOne">Register</a></li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div id="loginOne" class="tab-pane fade show active">
                                                <div class="login-register-form">
                                                    <form action="#" method="post">
                                                        <p>Login to Jotopa with your registered account</p>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="text" placeholder="Username or Email" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Password" name="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-remember" id="login-form-remember-one">
                                                                    <label for="login-form-remember-one">Remember me</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-25"><button class="ht-btn">Login</button></div>
                                                        </div>
                                                    </form>
                                                    <div class="divider">
                                                        <span class="line"></span>
                                                        <span class="circle">or login with</span>
                                                    </div>
                                                    <div class="social-login">
                                                        <ul class="social-icon">
                                                            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                            <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="registerOne" class="tab-pane fade">
                                                <div class="login-register-form">
                                                    <form action="#" method="post">
                                                        <p>Create Your account</p>
                                                        <div class="row row-5">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="text" placeholder="Your Username" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="email" placeholder="Your Email Address" name="emain">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Password" name="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Confirm Password" name="conPassword">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-candidate" id="login-form-candidate-one">
                                                                    <label for="login-form-candidate-one">I am a candidate</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-employer" id="login-form-employer-one">
                                                                    <label for="login-form-employer-one">I am a employer</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="register-account">
                                                                    <input id="register-terms-conditions-one" type="checkbox" class="checkbox" checked="" required="">
                                                                    <label for="register-terms-conditions-one">I read and agree to the <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-25"><button class="ht-btn">Register</button></div>
                                                        </div>
                                                    </form>
                                                    <div class="divider">
                                                        <span class="line"></span>
                                                        <span class="circle">or login with</span>
                                                    </div>
                                                    <div class="social-login">
                                                        <ul class="social-icon">
                                                            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                            <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-instruction">
                                        <div class="login-instruction-content">
                                            <h3 class="title">Why Login To Us</h3>
                                            <p>It’s important for you to have an account and login in order to have full access at Jotopa. We need to know your account details in order to allow work together</p>
                                            <ul class="list-reasons">
                                                <li class="reason">Be alerted to the latest jobs</li>
                                                <li class="reason">Apply for jobs with a single click</li>
                                                <li class="reason">Showcase your CV to thousands of employers</li>
                                                <li class="reason">Keep a record of all your applications</li>
                                            </ul>
                                            <span class="sale-text theme-color border-color">Login today &amp; Get 15% Off Coupon for the first planning purchase</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Area End -->


        <!-- Placed js at the end of the document so the pages load faster -->


    </div>

    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- All jquery file included here -->
    <div th:replace="~{fragments/page-frame :: script}"></div>

</body>

</html>