<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-frame :: head('Update Profile')}"></head>

<body class="template-color-1">

<div id="main-wrapper">

    <!--Header section start-->
    <header th:replace="~{fragments/page-frame :: header-all-others}"></header>
    <!--Header section end-->

    <!--Header Mobile section start-->
    <!--Header Mobile section end-->

    <!-- Start Popup Menu -->
    <!-- End Popup Menu -->

    <!-- Bottom Navbar Mobile Start -->
    <!-- Bottom Navbar Mobile End -->

    <!-- Bottom Navbar Mobile Popup Start -->
    <!-- Bottom Navbar Mobile Popup End -->

    <!-- Dashboard Content Section Start -->
    <div class="dashboard-content-section section bg_color--5">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-xl-1 col-lg-1"></div>
                <div class="col-xl-10 col-lg-9">

                    <div class="dashboard-main-inner">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-breadcrumb-content mb-40">
                                    <h1>Update Profile</h1>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-overview">
                            <div class="row">
                                <div class="col-xl-12 col-12">
                                    <div class="profile-applications mb-50">
                                        <div class="profile-applications-heading">
                                            <ul class="nav">
                                                <li>
                                                    <a class="active" href="professional-profile-view.html"
                                                       th:href="@{/professional-portal/professionals/profile}">My
                                                        profile
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="profile-applications-main-block">
                                            <div class="profile-applications-form">
                                                <form th:action="@{/professional-portal/professionals/update}"
                                                      th:object="${professional}"
                                                      method="post"
                                                      enctype="multipart/form-data">
                                                    <div class="row mb-30">
                                                        <div class="col-lg-2">
                                                            <div class="profile-avatar mb-30">
                                                                <label class="d-block"><span>Avatar</span></label>
                                                                <img th:src="${professional.picture != null ?
                                                                professional.picture.url :
                                                                '/images/profile-picture/default-professional-photo.png'}"
                                                                     alt="Profile picture">
                                                                <input type="file" class="profile-avatar"
                                                                       id="professionalPicture"
                                                                       name="professionalPicture">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <div class="row">
                                                                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
                                                                    <!-- Single Input Start -->
                                                                    <div class="single-input mb-25">
                                                                        <label for="status">Status
                                                                            <span>*</span></label>
                                                                        </br>
                                                                        <select id="status" name="status" th:field="*{status}">
                                                                            <option value="" disabled selected>-- Select Status --</option>
                                                                            <option th:each="stat : ${statuses}"
                                                                                    th:value="${stat.type}"
                                                                                    th:text="${stat.type}">
                                                                                <!-- Тук Thymeleaf ще замени стойностите -->
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <!-- Single Input End -->
                                                                </div>
                                                                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                                                                    <!-- Single Input Start -->
                                                                    <div class="single-input mb-25">
                                                                        <label for="first-name">First Name
                                                                            <span>*</span></label>
                                                                        <input type="text" id="first-name"
                                                                               name="firstName"
                                                                               th:field="*{firstName}"
                                                                               placeholder="Plamen" value="">
                                                                        <label class="text-danger font-weight-bold"
                                                                               th:errors="*{firstName}">
                                                                            First name error placeholder
                                                                        </label>
                                                                    </div>
                                                                    <!-- Single Input End -->
                                                                </div>

                                                                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                                                                    <!-- Single Input Start -->
                                                                    <div class="single-input mb-25">
                                                                        <label for="last-name">Last Name <span>*</span></label>
                                                                        <input type="text" id="last-name"
                                                                               name="lastName"
                                                                               th:field="*{lastName}"
                                                                               placeholder="Ivanov" value="">
                                                                        <label class="text-danger font-weight-bold"
                                                                               th:errors="*{lastName}">
                                                                            Last name error placeholder
                                                                        </label>
                                                                    </div>
                                                                    <!-- Single Input End -->
                                                                </div>
                                                                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
                                                                    <!-- Single Input Start -->
                                                                    <div class="single-input mb-25">
                                                                        <label for="location">Location <span>*</span></label>
                                                                        </br>
                                                                        <select id="location" name="location" th:field="*{location}">
                                                                            <option value="" disabled selected>-- Select Location --</option>
                                                                            <option th:each="location : ${locations}"
                                                                                    th:value="${location.name}"
                                                                                    th:text="${location.name}">
                                                                                <!-- Тук Thymeleaf ще замени стойностите -->
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <!-- Single Input End -->
                                                                </div>
                                                                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                                                                    <!-- Single Input Start -->
                                                                    <div class="single-input mb-25">
                                                                        <label for="email">Email <span>*</span></label>
                                                                        <input type="email" id="email" name="email"
                                                                               placeholder="plamenivanov@mail.com"
                                                                               th:field="*{email}"
                                                                               value="">
                                                                        <label class="text-danger font-weight-bold"
                                                                               th:errors="*{email}">
                                                                            Email error placeholder
                                                                        </label>
                                                                    </div>
                                                                    <!-- Single Input End -->
                                                                </div>
                                                                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                                                                    <!-- Single Input Start -->
                                                                    <div class="single-input mb-25">
                                                                        <label for="password">Password
                                                                            <span>*</span></label>
                                                                        <input type="password" id="password"
                                                                               name="password" placeholder="****"
                                                                               th:field="*{password}"
                                                                               value="">
                                                                        <label class="text-danger font-weight-bold"
                                                                               th:errors="*{password}">
                                                                            Password error placeholder
                                                                        </label>
                                                                    </div>
                                                                    <!-- Single Input End -->
                                                                </div>

                                                                <!--                                                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">-->
                                                                <!--                                                                    &lt;!&ndash; Single Input Start &ndash;&gt;-->
                                                                <!--                                                                    <div class="single-input mb-25">-->
                                                                <!--                                                                        <label for="confirm-password">Confirm-->
                                                                <!--                                                                            Password <span>*</span></label>-->
                                                                <!--                                                                        <input type="password" id="confirm-password"-->
                                                                <!--                                                                               name="confirm-password"-->
                                                                <!--                                                                               placeholder="****"-->
                                                                <!--                                                                               value="">-->
                                                                <!--                                                                    </div>-->
                                                                <!--                                                                    &lt;!&ndash; Single Input End &ndash;&gt;-->
                                                                <!--                                                                </div>-->
                                                                <div class="col-xl-8 col-lg-6 col-md-6 col-sm-6">
                                                                    <!-- Single Input Start -->
                                                                    <div class="single-input mb-25">
                                                                        <label for="summary">Summary <span>*</span></label>
                                                                        <textarea th:field="*{summary}" type="text"
                                                                                  name="summary" id="summary"
                                                                                  placeholder="Enter your Summary"
                                                                                  style="height: 150px"></textarea>
                                                                        <label class="text-danger font-weight-bold"
                                                                               th:errors="*{summary}">
                                                                            Summary error placeholder
                                                                        </label>
                                                                    </div>
                                                                    <!-- Single Input End -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="profile-action-btn d-flex flex-wrap align-content-center justify-content-between">
                                                                <button class="ht-btn theme-btn theme-btn-two mb-xs-20">
                                                                    Update Profile
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard Content Section End -->

    <!--Footer section start-->
    <footer th:replace="~{fragments/page-frame :: footer}"></footer>
    <!--Footer section end-->

</div>

<!-- Placed js at the end of the document so the pages load faster -->

<!-- All jquery file included here -->
<div th:replace="~{fragments/page-frame :: script}"></div>

</body>

</html>