<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="${'JobMatch | '+ title}">JobMatch</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="/images/favicon-jobMatch.png" type="img/x-icon" rel="shortcut icon"
          th:href="@{/images/favicon-jobMatch.png}">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/vendor/iconfont.min.css" th:href="@{/css/vendor/iconfont.min.css}">
    <link rel="stylesheet" href="/css/vendor/helper.css" th:href="@{/css/vendor/helper.css}">
    <link rel="stylesheet" href="/css/plugins/plugins.css" th:href="@{/css/plugins/plugins.css}">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
    <!-- noUiSlider CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css" rel="stylesheet">

    <!-- noUiSlider JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>

    <!-- Your script that uses noUiSlider -->
    <script type="module" src="/js/custom/helpers.js" th:src="@{/js/custom/helpers.js}"></script>

    <!-- Modernizr JS -->
    <script src="/js/vendor/modernizr-3.10.0.min.js" th:src="@{/js/vendor/modernizr-3.10.0.min.js}"></script>
</head>
<body>

<!--Header Home Fragment Start-->

<header th:fragment="header-all-others" class="black-logo-version header-sticky sticky-white d-none d-lg-block">
    <div class="main-header">
        <div class="container-fluid pl-50 pl-lg-15 pl-md-15 pr-0">
            <div class="row align-items-center g-0">

                <!--Logo start-->
                <div class="col-xl-2 col-lg-2 col-12">
                    <div class="logo">
                        <a href="index.html" th:href="@{/}"><img src="/images/logo-jobMatch.png"
                                                                 alt="JobMatch-logo"
                                                                 th:src="@{/images/logo-jobMatch.png}"></a>
                    </div>
                </div>
                <!--Logo end-->

                <!--Menu start-->
                <div class="col-xl-7 col-lg-7 col-12">
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <a href="index.html" th:href="@{/}">Home</a>
                            </li>
                            <li><a href="job-listing.html">Job Ads</a></li>
                            <li><a href="job-listing.html">Job Applications</a>
                            </li>
                            <li><a href="candidates-listing.html">Professionals</a>
                            </li>
                            <li><a href="#">Companies</a>
                            </li>
                            <li><a href="about.html">About</a></li>
                        </ul>
                    </nav>
                </div>
                <!--Menu end-->

                <!-- Login/Register Area Start -->
                <div class="col-xl-3 col-lg-3 col-12">
                    <div class="header-btn-action d-flex justify-content-end">
                        <div class="btn-action-wrap d-flex">
                            <div class="jp-author main-menu">
                                <ul>
                                    <li><a href="#"><i class="lnr lnr-user"></i> Login | Register <small
                                            class="icon-arrow"></small></a>
                                        <ul class="sub-menu">
                                            <li><a th:href="@{/auth/professional-portal/login}" href="login-professional.html">Professionals</a></li>
                                            <li><a href="about.html">Companies</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
<!--                            <div class="jp-author main-menu">-->
<!--                                <ul>-->
<!--                                    <li><a href="login-register.html"> Register <small-->
<!--                                            class="icon-arrow"></small></a>-->
<!--                                        <ul class="sub-menu">-->
<!--                                            <li><a href="contact.html">Professionals</a></li>-->
<!--                                            <li><a href="about.html">Companies</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- Login/Register Area End -->
            </div>
        </div>
    </div>
</header>

<!--Header Home Fragment End-->

<!--Header Home Fragment Start-->
<header th:fragment="header-home" class="header-absolute sb-border header-sticky d-none d-lg-block">
    <div class="main-header">
        <div class="container-fluid pl-50 pl-lg-15 pl-md-15 pr-0">
            <div class="row align-items-center g-0">

                <!--Logo start-->
                <div class="col-xl-2 col-lg-2 col-12">
                    <div class="logo">
                        <a href="index.html" th:href="@{/}"><img src="/images/logo-jobMatch-white.png"
                                                                 alt="JobMatch-logo"
                                                                 th:src="@{/images/logo-jobMatch-white.png}"></a>
                    </div>
                </div>
                <!--Logo end-->

                <!--Menu start-->
                <div class="col-xl-7 col-lg-7 col-12">
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <a href="index.html" th:href="@{/}">Home</a>
                            </li>
                            <li><a href="job-listing.html">Job Ads</a></li>
                            <li><a href="job-listing.html">Job Applications</a>
                            </li>
                            <li><a href="candidates-listing.html">Professionals</a>
                            </li>
                            <li><a href="#">Companies</a>
                            </li>
                            <li><a href="about.html">About</a></li>
                        </ul>
                    </nav>
                </div>
                <!--Menu end-->

                <!-- Login/Register Area Start -->
                <div class="col-xl-3 col-lg-3 col-12">
                    <div class="header-btn-action d-flex justify-content-end">
                        <div class="btn-action-wrap d-flex">
                            <div class="jp-author main-menu">
                                <ul>
                                    <li><a href="#"><i class="lnr lnr-user"></i> Login | Register <small
                                            class="icon-arrow"></small></a>
                                        <ul class="sub-menu">
                                            <li><a th:href="@{/auth/professional-portal/login}" href="login-professional.html">Professionals</a></li>
                                            <li><a href="about.html">Companies</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
<!--                            <div class="jp-author main-menu">-->
<!--                                <ul>-->
<!--                                    <li><a href="login-register.html"> Register <small-->
<!--                                            class="icon-arrow"></small></a>-->
<!--                                        <ul class="sub-menu">-->
<!--                                            <li><a href="contact.html">Professionals</a></li>-->
<!--                                            <li><a href="about.html">Companies</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- Login/Register Area End -->
            </div>
        </div>
    </div>
</header>

<!-- Header Home Fragment End -->

<!-- Footer Fragment Start -->

<footer th:fragment="footer" class="footer-section section">
    <!-- Footer Top Section Start -->
    <div class="footer-top-section section pt-115 pt-lg-95 pt-md-75 pt-sm-55 pt-xs-45 pb-90 pb-lg-70 pb-md-40 pb-sm-20 pb-xs-15">
        <div class="container">
            <div class="row">

                <div class="col-xl-4 col-lg-3 col-md-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget mb-30">
                        <h6 class="title">Contact Info</h6>
                        <div class="address">
                            <i class="lnr lnr-map-marker"></i>
                            <span>8375 Most Amazing Jobs Str, Boyana 1000, Bulgaria</span>
                        </div>
                        <div class="email">
                            <i class="lnr lnr-envelope"></i>
                            <span>job-match@abv.bg</span>
                        </div>
                        <div class="phone theme-color">(+359) 888 777 666</div>
                        <div class="footer-widget-image d-flex mt-35">
                            <a class="mr-5" href="#"><img src="/images/app-store/app-store-2.png" alt=""></a>
                            <a href="#"><img src="/images/app-store/app-chplay-2.png" alt=""></a>
                        </div>
                    </div>
                    <!-- Footer Widget End -->
                </div>

                <div class="col-xl-2 col-lg-2 col-md-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget mb-30">
                        <h6 class="title">Useful Links</h6>
                        <div class="footer-widget-link">
                            <ul>
                                <li><a href="#">Press Corner</a></li>
                                <li><a href="#">Policy Privacy</a></li>
                                <li><a href="#">Terms And Conditions</a></li>
                                <li><a href="#">Partner</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget End -->
                </div>

                <div class="col-xl-2 col-lg-3 col-md-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget mb-30">
                        <h6 class="title">Featured Jobs</h6>
                        <div class="footer-widget-link">
                            <ul>
                                <li><a href="#">Teachers</a></li>
                                <li><a href="#">Accounting</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Digital Marketing</a></li>
                                <li><a href="#">Web & Software Dev</a></li>
                                <li><a href="#">Science & Analitycs</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget End -->
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    </div>
                    <!-- Footer Widget Start -->
                    <div class="footer-widget mb-30">
                        <h6 class="title">Newsletter</h6>
                        <div class="newsletter">
                            <p>Join our email subscription now to get updates on <strong>new jobs</strong> and
                                <strong>notifications</strong>.</p>
                            <div class="newsletter-form">
                                <form id="mc-form" class="mc-form">
                                    <input type="email" placeholder="Enter Your email..." required="" name="EMAIL">
                                    <button class="ht-btn small-btn" type="submit" value="submit">Subscribe</button>
                                </form>
                            </div>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div>
                            <!-- mailchimp-alerts end -->
                        </div>
                    </div>
                    <!-- Footer Widget End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top Section End -->

    <!--Footer bottom start-->
    <div class="footer-bottom section fb-60">
        <div class="container">
            <div class="row g-0 st-border pt-35 pb-35 align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright">
                        <p>&copy;2025 <a th:href="@{/}">JobMatch</a>. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer-social">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.google.com/"><i class="fab fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer bottom end-->
</footer>

<!-- Footer Fragment End -->

<!-- Script Fragment Start -->

<div th:fragment="script">
    <script src="/js/vendor/jquery-3.5.0.min.js" th:src="@{/js/vendor/jquery-3.5.0.min.js}"></script>
    <script src="/js/vendor/jquery-migrate-3.1.0.min.js" th:src="@{/js/vendor/jquery-migrate-3.1.0.min.js}"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js" th:src="@{/js/vendor/bootstrap.bundle.min.js}"></script>
    <script src="/js/plugins/plugins.js" th:src="@{/js/plugins/plugins.js}"></script>
    <script type="module" src="/js/custom/helpers.js" th:src="@{/js/custom/helpers.js}"></script>


    <script src="/js/main.js" th:src="@{/js/main.js}"></script>
</div>

<!-- Script Fragment End -->

</body>
</html>