<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="~{fragments/page-frame :: head('About')}"></head>
<body class="template-color-1">

<div id="main-wrapper">
    <!--Header section start-->
    <header th:replace="~{fragments/page-frame :: header-all-others}"></header>
    <!--Header section end-->

    <!--Header Mobile section start-->
    <!--Header Mobile section end-->

    <!-- Start Popup Menu -->
    <div class="popup-mobile-manu popup-mobile-visiable">
        <div class="inner">
            <div class="mobileheader">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo-mobile.png" alt="Multipurpose">
                    </a>
                </div>
                <a class="mobile-close" href="#"></a>
            </div>
            <div class="menu-content">
                <ul class="menulist object-custom-menu">
                    <li class="has-mega-menu"><a href="#"><span>Home</span></a>
                        <!-- Start Dropdown Menu -->
                        <ul class="object-submenu">
                            <li><a href="index.html"><span>Home V1</span></a></li>
                            <li><a href="index-2.html"><span>Home V2</span></a></li>
                            <li><a href="index-3.html"><span>Home V3</span></a></li>
                            <li><a href="index-4.html"><span>Home V4</span></a></li>
                        </ul>
                        <!-- End Dropdown Menu -->
                    </li>

                    <li class="has-mega-menu"><a href="#"><span>Jobs</span></a>
                        <!-- Start Dropdown Menu -->
                        <ul class="object-submenu">
                            <li><a href="job-listing.html"><span>Jobs Listing</span></a></li>
                            <li><a href="job-with-map.html"><span>Jobs With Map</span></a></li>
                            <li><a href="job-details.html"><span>Job Detail V1</span></a></li>
                            <li><a href="job-details-two.html"><span>Job Detail V2</span></a></li>
                        </ul>
                        <!-- End Dropdown Menu -->
                    </li>

                    <li class="has-mega-menu"><a href="#"><span>Candidates</span></a>
                        <!-- Start Dropdown Menu -->
                        <ul class="object-submenu">
                            <li><a href="candidates-listing.html"><span>Candidates Listing</span></a></li>
                            <li><a href="candidate-details.html"><span>Candidate Details V1</span></a></li>
                            <li><a href="candidate-details-two.html"><span>Candidate Details V2</span></a></li>
                        </ul>
                        <!-- End Dropdown Menu -->
                    </li>

                    <li class="has-mega-menu"><a href="#"><span>Employers</span></a>
                        <!-- Start Dropdown Menu -->
                        <ul class="object-submenu">
                            <li><a href="employer-listing.html"><span>Employers Listing</span></a></li>
                            <li><a href="employer-details.html"><span>Employer Detail V1</span></a></li>
                            <li><a href="employer-details-two.html"><span>Employer Detail V2</span></a></li>
                        </ul>
                        <!-- End Dropdown Menu -->
                    </li>

                    <li class="has-mega-menu"><a href="#"><span>Blog</span></a>
                        <!-- Start Dropdown Menu -->
                        <ul class="object-submenu">
                            <li><a href="blog.html"><span>Blog</span></a></li>
                            <li><a href="blog-details.html"><span>Blog Details</span></a></li>
                        </ul>
                        <!-- End Dropdown Menu -->
                    </li>

                    <li class="has-mega-menu"><a href="#"><span>Pages</span></a>
                        <!-- Start Dropdown Menu -->
                        <ul class="object-submenu">
                            <li><a href="about.html"><span>About Us</span></a></li>
                            <li><a href="contact.html"><span>Contact Us</span></a></li>
                            <li><a href="faq.html"><span>FAQS</span></a></li>
                            <li><a href="pricing.html"><span>Pricing & Plan</span></a></li>
                            <li><a href="login-register.html"><span>Login / Register</span></a></li>
                            <li><a href="dashboard.html"><span>Dashboard</span></a></li>
                            <li><a href="shop.html"><span>Shop</span></a></li>
                            <li><a href="product-details.html"><span>Product Details</span></a></li>
                            <li><a href="cart.html"><span>Cart</span></a></li>
                            <li><a href="checkout.html"><span>Checkout</span></a></li>
                            <li><a href="wishlist.html"><span>Wishlist</span></a></li>
                            <li><a href="404.html"><span>404 Error</span></a></li>
                        </ul>
                        <!-- End Dropdown Menu -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Popup Menu -->

    <!-- Bottom Navbar Mobile Start -->
    <!-- Bottom Navbar Mobile End -->

    <!-- Bottom Navbar Mobile Popup Start -->
    <!-- Bottom Navbar Mobile Popup End -->

    <!-- Page Banner Section Start -->
    <div class="page-banner-section section">
        <div class="banner-image">
            <img src="/images/about/bg-top-about-us.jpg" alt="">
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb-section section pt-60 pt-sm-50 pt-xs-40 pb-60 pb-sm-50 pb-xs-40">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-breadcrumb-content">
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>About us</li>
                        </ul>
                        <h1>About JobMatch</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Start -->

    <!-- About Content Section Start -->
    <div class="about-content-section section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-content">
                        <p class="text-bold">Welcome to JobMatch, where talent meets opportunity!</p>
                        <p class="normal-text">At JobMatch, we revolutionize the way professionals and companies connect
                            by offering a platform where opportunities go both ways. Professionals can showcase their
                            talents and find jobs that align with their aspirations, while companies can actively search
                            for and approach the perfect candidates to join their teams. Our mission is to create
                            meaningful connections, empower growth, and simplify recruitment by fostering a dynamic and
                            efficient matching process. Whether you're building a career or strengthening a business,
                            JobMatch is here to help you succeed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Content Section End -->

    <!-- Funfact Section Start  -->
    <div class="funfact-section section mt--60 pb-50 pb-sm-0 pb-xs-0">
        <div class="container">
            <div class="row g-0 border-top-left">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!-- Single Funfact Start -->
                    <div class="single-funfact">
                        <div class="icon-img">
                            <img src="/images/icons/candidates.png" th:src="@{/images/icons/candidates.png}" alt="">
                        </div>
                        <div class="funfact-content">
                            <span class="counter" th:text="${allProfessionals.size()}">87,360</span>
                            <span class="text theme-color" th:text="'Professionals'">Professionals</span>
                        </div>
                    </div>
                    <!-- Single Funfact End -->
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!-- Single Funfact Start -->
                    <div class="single-funfact">
                        <div class="icon-img">
                            <img src="/images/icons/total-jobs.png" th:src="@{/images/icons/total-jobs.png}" alt="">
                        </div>
                        <div class="funfact-content">
                            <span class="counter" th:text="${allJobAds.size()}">20,258</span>
                            <span class="text theme-color" th:text="'Total Job Ads'">Total Job Ads</span>
                        </div>
                    </div>
                    <!-- Single Funfact End -->
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!-- Single Funfact Start -->
                    <div class="single-funfact">
                        <div class="icon-img">
                            <img src="/images/icons/employers.png" th:src="@{/images/icons/employers.png}" alt="">
                        </div>
                        <div class="funfact-content">
                            <span class="counter" th:text="${allCompanies.size()}">8,650</span>
                            <span class="text theme-color" th:text="'Companies'">Companies</span>
                        </div>
                    </div>
                    <!-- Single Funfact End -->
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!-- Single Funfact Start -->
                    <div class="single-funfact">
                        <div class="icon-img">
                            <img src="/images/icons/job-applications.png"
                                 th:src="@{/images/icons/job-applications.png}" alt="">
                        </div>
                        <div class="funfact-content">
                            <span class="counter" th:text="${allJobApplications.size()}">50,299</span>
                            <span class="text theme-color" th:text="'Job Applications'">job applications</span>
                        </div>
                    </div>
                    <!-- Single Funfact End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Funfact Section Start  -->

    <!-- Personal Skill Section Start -->
    <div class="personal-skill-section section bg-image-proparty bg_image--2 pt-120 pt-lg-100 pt-md-80 pt-sm-60 pt-xs-50 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
        <div class="container">
            <div class="row g-0 border-top-left">
                <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                    <!-- Single Personal Skill Start -->
                    <div class="single-personal-skill">
                        <div class="skill-icon">
                            <img src="/images/icons/about1.png" alt="">
                        </div>
                        <div class="personal-skill-content">
                            <h4 class="title">Knowledge</h4>
                            <p>We have a policy of re-investing in our people offering in-house and external training
                                and development backed up.</p>
                        </div>
                    </div>
                    <!-- Single Personal Skill End -->
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                    <!-- Single Personal Skill Start -->
                    <div class="single-personal-skill">
                        <div class="skill-icon">
                            <img src="/images/icons/about2.png" alt="">
                        </div>
                        <div class="personal-skill-content">
                            <h4 class="title">Integrity</h4>
                            <p>We are consistent in the way we act and how we treat our clients, <strong>candidates and
                                each other</strong>.</p>
                        </div>
                    </div>
                    <!-- Single Personal Skill End -->
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                    <!-- Single Personal Skill Start -->
                    <div class="single-personal-skill">
                        <div class="skill-icon">
                            <img src="/images/icons/about3.png" alt="">
                        </div>
                        <div class="personal-skill-content">
                            <h4 class="title">Adaptability</h4>
                            <p>We are not set in our ways. In this changing market place we move swiftly to meet the
                                shifting demands</p>
                        </div>
                    </div>
                    <!-- Single Personal Skill End -->
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                    <!-- Single Personal Skill Start -->
                    <div class="single-personal-skill">
                        <div class="skill-icon">
                            <img src="/images/icons/about4.png" alt="">
                        </div>
                        <div class="personal-skill-content">
                            <h4 class="title">Innovation</h4>
                            <p>We continuously refine what we find smarter, more effective ways and better
                                processes.</p>
                        </div>
                    </div>
                    <!-- Single Personal Skill End -->
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                    <!-- Single Personal Skill Start -->
                    <div class="single-personal-skill">
                        <div class="skill-icon">
                            <img src="/images/icons/about5.png" alt="">
                        </div>
                        <div class="personal-skill-content">
                            <h4 class="title">The Passion</h4>
                            <p>We care passionately about the professional service we provide to our clients and
                                candidates.</p>
                        </div>
                    </div>
                    <!-- Single Personal Skill End -->
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                    <!-- Single Personal Skill Start -->
                    <div class="single-personal-skill">
                        <div class="skill-icon">
                            <img src="/images/icons/about6.png" alt="">
                        </div>
                        <div class="personal-skill-content">
                            <h4 class="title">Excellence</h4>
                            <p>We strive to achieve The Standard in everything we do.</p>
                        </div>
                    </div>
                    <!-- Single Personal Skill End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Personal Skill Section End -->

    <!-- Company History Section Start -->
    <!--        <div class="company-history-section section pt-110 pt-lg-90 pt-md-70 pt-sm-50 pt-xs-40 pb-60 pb-lg-40 pb-md-20 pb-sm-0 pb-xs-45">-->
    <!--            <div class="container">-->
    <!--                <div class="row">-->
    <!--                    <div class="col-12">-->
    <!--                        <div class="section-title-four mb-40">-->
    <!--                            <h3>Our story</h3>-->
    <!--                            <p>Hewett Recruitment has been established since 2009. We have developed and expanded our services by listening to the needs of both our Clients and Candidates over the years, becoming one of the leading recruitment companies in the area.</p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="company-history-slider row">-->

    <!--                    <div class="col-12">-->
    <!--                        &lt;!&ndash; Single Company History Start &ndash;&gt;-->
    <!--                        <div class="single-company-history">-->
    <!--                            <div class="item-avatar">-->
    <!--                                <img src="assets/images/testimonial/testimonial-1.png" alt="">-->
    <!--                            </div>-->
    <!--                            <div class="item-meta">-->
    <!--                                <div class="name">May 24, 2009</div>-->
    <!--                                <div class="item-comment">-->
    <!--                                    <p>Our years of experience in the region mean that we can provide informed local market intelligence to support people planning, business growth strategy, employer branding and salary benchmarking. Our average length of service for consultants is 8 years.</p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Single Company History End &ndash;&gt;-->
    <!--                    </div>-->

    <!--                    <div class="col-12">-->
    <!--                        &lt;!&ndash; Single Company History Start &ndash;&gt;-->
    <!--                        <div class="single-company-history">-->
    <!--                            <div class="item-avatar">-->
    <!--                                <img src="assets/images/testimonial/testimonial-2.png" alt="">-->
    <!--                            </div>-->
    <!--                            <div class="item-meta">-->
    <!--                                <div class="name">Jan 30, 2010</div>-->
    <!--                                <div class="item-comment">-->
    <!--                                    <p>Our years of experience in the region mean that we can provide informed local market intelligence to support people planning, business growth strategy, employer branding and salary benchmarking. Our average length of service for consultants is 8 years.</p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Single Company History End &ndash;&gt;-->
    <!--                    </div>-->

    <!--                    <div class="col-12">-->
    <!--                        &lt;!&ndash; Single Company History Start &ndash;&gt;-->
    <!--                        <div class="single-company-history">-->
    <!--                            <div class="item-avatar">-->
    <!--                                <img src="assets/images/testimonial/testimonial-1.png" alt="">-->
    <!--                            </div>-->
    <!--                            <div class="item-meta">-->
    <!--                                <div class="name">May 24, 2009</div>-->
    <!--                                <div class="item-comment">-->
    <!--                                    <p>Our years of experience in the region mean that we can provide informed local market intelligence to support people planning, business growth strategy, employer branding and salary benchmarking. Our average length of service for consultants is 8 years.</p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Single Company History End &ndash;&gt;-->
    <!--                    </div>-->

    <!--                    <div class="col-12">-->
    <!--                        &lt;!&ndash; Single Company History Start &ndash;&gt;-->
    <!--                        <div class="single-company-history">-->
    <!--                            <div class="item-avatar">-->
    <!--                                <img src="assets/images/testimonial/testimonial-2.png" alt="">-->
    <!--                            </div>-->
    <!--                            <div class="item-meta">-->
    <!--                                <div class="name">Jan 30, 2010</div>-->
    <!--                                <div class="item-comment">-->
    <!--                                    <p>Our years of experience in the region mean that we can provide informed local market intelligence to support people planning, business growth strategy, employer branding and salary benchmarking. Our average length of service for consultants is 8 years.</p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Single Company History End &ndash;&gt;-->
    <!--                    </div>-->

    <!--                    <div class="col-12">-->
    <!--                        &lt;!&ndash; Single Company History Start &ndash;&gt;-->
    <!--                        <div class="single-company-history">-->
    <!--                            <div class="item-avatar">-->
    <!--                                <img src="assets/images/testimonial/testimonial-1.png" alt="">-->
    <!--                            </div>-->
    <!--                            <div class="item-meta">-->
    <!--                                <div class="name">May 24, 2009</div>-->
    <!--                                <div class="item-comment">-->
    <!--                                    <p>Our years of experience in the region mean that we can provide informed local market intelligence to support people planning, business growth strategy, employer branding and salary benchmarking. Our average length of service for consultants is 8 years.</p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Single Company History End &ndash;&gt;-->
    <!--                    </div>-->

    <!--                    <div class="col-12">-->
    <!--                        &lt;!&ndash; Single Company History Start &ndash;&gt;-->
    <!--                        <div class="single-company-history">-->
    <!--                            <div class="item-avatar">-->
    <!--                                <img src="assets/images/testimonial/testimonial-2.png" alt="">-->
    <!--                            </div>-->
    <!--                            <div class="item-meta">-->
    <!--                                <div class="name">Jan 30, 2010</div>-->
    <!--                                <div class="item-comment">-->
    <!--                                    <p>Our years of experience in the region mean that we can provide informed local market intelligence to support people planning, business growth strategy, employer branding and salary benchmarking. Our average length of service for consultants is 8 years.</p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Single Company History End &ndash;&gt;-->
    <!--                    </div>-->

    <!--                    <div class="col-12">-->
    <!--                        &lt;!&ndash; Single Company History Start &ndash;&gt;-->
    <!--                        <div class="single-company-history">-->
    <!--                            <div class="item-avatar">-->
    <!--                                <img src="assets/images/testimonial/testimonial-1.png" alt="">-->
    <!--                            </div>-->
    <!--                            <div class="item-meta">-->
    <!--                                <div class="name">May 24, 2009</div>-->
    <!--                                <div class="item-comment">-->
    <!--                                    <p>Our years of experience in the region mean that we can provide informed local market intelligence to support people planning, business growth strategy, employer branding and salary benchmarking. Our average length of service for consultants is 8 years.</p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Single Company History End &ndash;&gt;-->
    <!--                    </div>-->

    <!--                </div>-->
    <!--                <div class="action">-->
    <!--                    <a href="#" data-slide="1">2009</a>-->
    <!--                    <a href="#" data-slide="2">2010</a>-->
    <!--                    <a href="#" data-slide="3">2011</a>-->
    <!--                    <a href="#" data-slide="4">2014</a>-->
    <!--                    <a href="#" data-slide="5">2015</a>-->
    <!--                    <a href="#" data-slide="6">2016</a>-->
    <!--                    <a class="mr-0" href="#" data-slide="7">2017</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!-- Company History Section Start -->

    <!-- Team Section Start -->
    <div class="team-section section pt-120 pt-lg-100 pt-md-80 pt-sm-60 pt-xs-50 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-four mb-40">
                        <h3>JobMatch Team</h3>
                        <p>We are Java Web Development team who view talent & recruiting as the most important part of a
                            business. Because building the right team of people can be the difference between an
                            organization winning or losing. All of our tools at JobMatch are built through this unending
                            passion to help our clients recruit the right candidates.</p>
                    </div>
                </div>
            </div>
            <div class="row g-0 border-top-left">

                <div class="col-lg-4 col-md-4 col-sm-6" th:object="${nikolay}">
                    <!-- Single Team Start -->
                    <div class="single-team team-style-two">
                        <div class="team-image">
                            <img th:src="${nikolay.picture.url}" alt="">
                        </div>
                        <div class="team-content">
                            <h4 class="team-title" th:text="${nikolay.firstName} + ' ' + ${nikolay.lastName}">
                                Nikolay Voynov
                            </h4>
                            <p class="team-headline">Java Web Developer</p>
                        </div>
                        <div class="item-box transition-theme">
                            <div class="team-info-social">
                                <ul class="social-link-hover">
                                    <li><a class="facebook" href="https://github.com/NikolayVoynov"><i
                                            class="fab fa-github-square"></i></a></li>
                                    <li><a class="twitter" href="https://www.linkedin.com/in/nikolay-voynov-b7b42a33a/"><i
                                            class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End -->
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6" th:object="${anna}">
                    <!-- Single Team Start -->
                    <div class="single-team team-style-two">
                        <div class="team-image">
                            <img th:src="${anna.picture.url}" alt="">
                        </div>
                        <div class="team-content">
                            <h4 class="team-title" th:text="${anna.firstName} + ' ' + ${anna.lastName}">
                                Anna Valcheva
                            </h4>
                            <p class="team-headline">Java Web Developer</p>
                        </div>
                        <div class="item-box transition-theme">
                            <div class="team-info-social">
                                <ul class="social-link-hover">
                                    <li><a class="facebook" href="https://github.com/annavulcheva"><i
                                            class="fab fa-github-square"></i></a></li>
                                    <li><a class="twitter" href="https://www.linkedin.com/in/annavulcheva/"><i
                                            class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End -->
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6" th:object="${kiril}">
                    <!-- Single Team Start -->
                    <div class="single-team team-style-two">
                        <div class="team-image">
                            <img th:src="${kiril.picture.url}" alt="">
                        </div>
                        <div class="team-content">
                            <h4 class="team-title" th:text="${kiril.firstName} + ' ' + ${kiril.lastName}">
                                Kiril Kirilov
                            </h4>
                            <p class="team-headline">Java Web Developer</p>
                        </div>
                        <div class="item-box transition-theme">
                            <div class="team-info-social">
                                <ul class="social-link-hover">
                                    <li><a class="facebook" href="https://github.com/kbkirilov"><i
                                            class="fab fa-github-square"></i></a></li>
                                    <li><a class="twitter" href="https://www.linkedin.com/in/kbkirilov/"><i
                                            class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Team Section End -->

    <!--Footer section start-->
    <footer th:replace="~{fragments/page-frame :: footer}"></footer>
    <!--Footer section end-->

    <!-- Modal Area Strat -->
    <div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12">
                        <div class="row g-0">

                            <div class="col-lg-4">
                                <div class="login-register-form-area">
                                    <div class="login-tab-menu">
                                        <ul class="nav">
                                            <li><a class="active show" data-bs-toggle="tab" href="#login">Login</a></li>
                                            <li><a data-bs-toggle="tab" href="#register">Register</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div id="login" class="tab-pane fade show active">
                                            <div class="login-register-form">
                                                <form action="#" method="post">
                                                    <p>Login to Jotopa with your registered account</p>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="single-input">
                                                                <input type="text" placeholder="Username or Email"
                                                                       name="name">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="single-input">
                                                                <input type="password" placeholder="Password"
                                                                       name="password">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="checkbox-input">
                                                                <input type="checkbox" name="login-form-remember"
                                                                       id="login-form-remember">
                                                                <label for="login-form-remember">Remember me</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mb-25">
                                                            <button class="ht-btn">Login</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="divider">
                                                    <span class="line"></span>
                                                    <span class="circle">or login with</span>
                                                </div>
                                                <div class="social-login">
                                                    <ul class="social-icon">
                                                        <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
                                                        </li>
                                                        <li><a class="twitter" href="#"><i
                                                                class="fab fa-twitter"></i></a></li>
                                                        <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
                                                        </li>
                                                        <li><a class="google" href="#"><i
                                                                class="fab fa-google-plus"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="register" class="tab-pane fade">
                                            <div class="login-register-form">
                                                <form action="#" method="post">
                                                    <p>Create Your account</p>
                                                    <div class="row row-5">
                                                        <div class="col-12">
                                                            <div class="single-input">
                                                                <input type="text" placeholder="Your Username"
                                                                       name="name">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="single-input">
                                                                <input type="email" placeholder="Your Email Address"
                                                                       name="emain">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="single-input">
                                                                <input type="password" placeholder="Password"
                                                                       name="password">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="single-input">
                                                                <input type="password" placeholder="Confirm Password"
                                                                       name="conPassword">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="checkbox-input">
                                                                <input type="checkbox" name="login-form-candidate"
                                                                       id="login-form-candidate">
                                                                <label for="login-form-candidate">I am a
                                                                    candidate</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="checkbox-input">
                                                                <input type="checkbox" name="login-form-employer"
                                                                       id="login-form-employer">
                                                                <label for="login-form-employer">I am a employer</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="register-account">
                                                                <input id="register-terms-conditions" type="checkbox"
                                                                       class="checkbox" checked="" required="">
                                                                <label for="register-terms-conditions">I read and agree
                                                                    to the <a href="#">Terms &amp; Conditions</a> and <a
                                                                            href="#">Privacy Policy</a></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mb-25">
                                                            <button class="ht-btn">Register</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="divider">
                                                    <span class="line"></span>
                                                    <span class="circle">or login with</span>
                                                </div>
                                                <div class="social-login">
                                                    <ul class="social-icon">
                                                        <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
                                                        </li>
                                                        <li><a class="twitter" href="#"><i
                                                                class="fab fa-twitter"></i></a></li>
                                                        <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
                                                        </li>
                                                        <li><a class="google" href="#"><i
                                                                class="fab fa-google-plus"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="login-instruction">
                                    <div class="login-instruction-content">
                                        <h3 class="title">Why Login To Us</h3>
                                        <p>It’s important for you to have an account and login in order to have full
                                            access at Jotopa. We need to know your account details in order to allow
                                            work together</p>
                                        <ul class="list-reasons">
                                            <li class="reason">Be alerted to the latest jobs</li>
                                            <li class="reason">Apply for jobs with a single click</li>
                                            <li class="reason">Showcase your CV to thousands of employers</li>
                                            <li class="reason">Keep a record of all your applications</li>
                                        </ul>
                                        <span class="sale-text theme-color border-color">Login today &amp; Get 15% Off Coupon for the first planning purchase</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal Area End -->


    <!-- Placed js at the end of the document so the pages load faster -->


</div>

<!-- Placed js at the end of the document so the pages load faster -->

<!-- All jquery file included here -->
<div th:replace="~{fragments/page-frame :: script}"></div>

</body>

</html>